html {
    min-width: 414px;
    min-height: 736px;
}
body {
    min-width: 414px;
    min-height: 736px;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2C304F;
    margin: 0px;
}

#container {
    height: 100%;
    width: 100%;
}

#navbar {
    position: relative;
    width: 414px;
    height: 140px;
    background: linear-gradient(110.89deg, #EC669C 0%, #F2994A 100%);
}

#trashcanIcon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 28px;
    top: 22px;
    background-image: url("./assets/trashcanicon.png");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

#trashcanIcon:hover,
#trashcanIcon:focus {
    filter: brightness(90%);
    cursor: pointer;
}

#title {
    position: absolute;
    margin: 0px;
    font-size: 24px;
    left: 142px;
    top: 25px;
}

#bookmarkIcon {
    position: absolute;
    width: 30px;
    height: 46.36px;
    left: 358.5px;
    top: 20px;
    background-image: url("./assets/bookmarkicon.png");
    background-position: center;
    background-repeat: no-repeat;
}

#bookmarkIcon:hover,
#bookmarkIcon:focus {
    filter: brightness(90%);
    cursor: pointer;
}

#numberOfItemsText {
    position: absolute;
    margin: 0px;
    left: 114px;
    top: 88px;
    font-size: 18px;
}

.listItems{
    position: static;
}


.label {
    display: inline-block;
    width: 80px;
    height: 60px;
    position: relative;
    left: 20px;
    top: 13px;
    vertical-align: middle;
}

.titleOfArticle {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 185px;
    min-height: 25px;
    left: 39px;
    top: 15px;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
}

.titleOfArticle:hover{
    text-decoration: underline;
}

.timeStamp {
    display: inline-block;
    position: relative;
    margin: 0px;
    height: 46px;
    left: 53px;
    top: 12px;
    font-size: 13px;
    vertical-align: middle;
    color: #BDBDBD;
}

.deleteIcon {
    display: inline-block;
    position: relative;
    width: 1.2em;
    height: 1.2em;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    left: 5px;
    top: 27px;
}

.deleteIcon:hover,
.deleteIcon:focus {
    filter: brightness(70%);
    cursor: pointer;
}

.divider {
    display: block;
    position: relative;
    width: 414px;
    height: 1px;
    left: 0px;
    top: 27px;
    margin-bottom: 27px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 4, 0.5); /* Black w/ opacity */
}

.modalContent {
    background-color: #1B242B;
    margin: auto;
    margin-top: 30%;
    height: 118px;
    width: 87%;
}

#warningIcon {
    display: inline-block;
    position: relative;
    left: 20px;
    top: 26px;
    width: 47px;
    height: 47px;
    border: none;
}

#deleteAllModalText {
    position: relative;
    left: 100px;
    top: -36px;
}

.cancel-btn {
    position: relative;
    width: 77px;
    height: 33px;
    left: 155px;
    top: -33px;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: #828282;
    border: none;
    border-radius: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cancel-btn:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.cancel-btn:active {
    filter: brightness(70%);
    cursor: pointer;
}

.cancel-btn:focus {
    outline: 0;
}

#ok-btn {
    position: relative;
    width: 77px;
    height: 33px;
    left: 165px;
    top: -33px;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: #EB5757;
    border: none;
    border-radius: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#ok-btn:hover {
    filter: brightness(90%);
    cursor: pointer;
}

#ok-btn:active {
    filter: brightness(70%);
    cursor: pointer;
}

#ok-btn:focus {
    outline: 0;
}

#closeDeleteModal {
    position: relative;
    left: 280px;
    top: -18px;
    color: #EB5757;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    filter: brightness(90%);
    text-decoration: none;
    cursor: pointer;
}

.close:focus {
    filter: brightness(70%);
    text-decoration: none;
    cursor: pointer;
}

#addItemModalContent {
    height: 240px;
    margin-top: 20%;
}

input[type=text] {
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #636E77;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #636E77;
    outline: none;
}

input[type=text]:focus {
    background-color: #79858E;
}

#add-btn {
    position: relative;
    width: 77px;
    height: 33px;
    top: -20px;
    left: 265px;
    background-color: #219653;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    border: none;
    border-radius: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    outline: none;
}

#add-btn:hover {
    background-color: #228B42;
}

#add-btn:focus {
    background-color: #237A3D;
}

#add-cancel-btn {
    position: relative;
    width: 77px;
    height: 33px;
    top: -20px;
    left: 94px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000000;
    font-family: inherit;
    font-weight: inherit;
}

#closeAddItemModal {
    position: relative;
    left: 330px;
    top: 2px;
    color: #EB5757;
    font-size: 28px;
    font-weight: bold;
}

#title-form {
    position: relative;
    margin: 20px;
    top: -30px;
}

#url-form {
    position: relative;
    margin: 20px;
    top: -30px;
}