html {
    min-width: 414px;
    min-height: 736px;
}
body {
    min-width: 414px;
    min-height: 736px;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2C304F;
    margin: 0px;
}

#container {
    height: 100%;
    width: 100%;
}

#navbar {
    position: relative;
    width: 414px;
    height: 140px;
    background: linear-gradient(110.89deg, #EC669C 0%, #F2994A 100%);
}

#hamburgerIcon {
    position: absolute;
    width: 25px;
    height: 19px;
    left: 28px;
    top: 30px;
    background-image: url("./assets/hamburgericon.png");
    background-position: center;
    background-repeat: no-repeat;
}

#title {
    position: absolute;
    margin: 0px;
    font-size: 24px;
    left: 142px;
    top: 25px;
}

#bookmarkIcon {
    position: absolute;
    width: 30px;
    height: 46.36px;
    left: 358.5px;
    top: 20px;
    background-image: url("./assets/bookmarkicon.png");
    background-position: center;
    background-repeat: no-repeat;
}

#numberOfItemsText {
    position: absolute;
    margin: 0px;
    left: 114px;
    top: 88px;
    font-size: 18px;
}

.listItems{
    position: static;
}


.label {
    display: inline-block;
    width: 49px;
    height: 30px;
    position: relative;
    left: 28px;
    top: 13px;
    vertical-align: middle;
}

.titleOfArticle {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 185px;
    min-height: 25px;
    left: 61px;
    top: 15px;
    font-size: 14px;
    vertical-align: middle;
}

.timeStamp {
    display: inline-block;
    position: relative;
    margin: 0px;
    height: 46px;
    left: 95px;
    top: 10px;
    font-size: 13px;
    vertical-align: middle;
    color: #BDBDBD;
}

.deleteIcon {
    display: inline-block;
    position: relative;
    width: 1.2em;
    height: 1.2em;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    left: 55px;
    top: 25px;
}

.divider {
    display: block;
    position: relative;
    width: 414px;
    height: 1px;
    left: 0px;
    top: 27px;
    margin-bottom: 27px;
}
